page-create {
  .input-wrapper {
    font-size: 12px;;
  }

  .label-ios, .text-input-ios {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .datetime-md, .datetime-ios {
    padding-left: 0;
  }

  .text-input-md {
    margin-left: 0;
  }
}
